<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geometry</title>
    <link rel="stylesheet" href="/static/css/yemian.css">
</head>
<body>
    <div class="landing-page">
        <div class="page-content">
            <h1>Planar Geometry Tool</h1>
            <p>
                随着人工智能产业的迅速崛起，自然语言处理也得到了越来越多的关注; <br>
                数学问题自动求解、几何定理自动证明、几何绘图等有关数学教育智能化的问题<br>成为当前一个研究热点，而这些研究都建立在题意理解的基础上。<br>
                平面几何题意理解系统旨在让计算机可以理解自然语言描述的平面几何文本<br>为其他研究提供坚实的基础<br>对数学教育领域产生积极作用,给自然语言处理领域带来重要影响。
            </p>
            <button id="start">Get Started</button>
        </div>
    </div>
<script>
    document.getElementById("start").addEventListener("click", function() {
        window.location.href = "/conf";
    });
</script>
</body>
</html>
